<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br /><br />
      <h2>Sobre nosotros</h2>
      <br />
      <p style="text-align:justify;">Rocamora Asesores es un despacho profesional situado en San José con más de 25 años de experiencia
        ofreciendo a todo tipo de empresas, profesionales y particulares un servicio de asesoramiento integral
        desde un punto de vista FISCAL, CONTABLE, LABORAL y FINANCIERO, siendo posible gracias al
        elevado nivel de especialización de los profesionales que integran el despacho, teniendo así un alto grado
        de adaptación a las necesidades concretas de cada uno de nuestros clientes, pudiendo encarar los
        problemas desde un encuadre multidisciplinar.
        Nuestra filosofía es ofrecer al cliente un trato directo con los profesionales que integran Rocamora
        Asesores, siendo conscientes de que sólo con los mejores profesionales es posible prestar el mejor
        servicio, por esta razón, experiencia y formación son requisitos indispensables para alcanzar ese nivel de
        auto exigencia impuesto por el despacho.</p>
      <br />
    </div>






    <div class="col-lg-8 col-lg-offset-2" id="teamrow">
        <div class="item">
          <div class="team_item">
            <img src="img/team/team-1.jpg" alt="">
            <div class="hover_text">
              <h4>Tomas Rocamora</h4>
              <ul class="list">
                <p>Administrador</p>
              </ul>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="team_item">
            <img src="img/team/team-2.jpg" alt="">
            <div class="hover_text">
              <h4>Eugenio Peñalver</h4>
              <ul class="list">
                <p>Asesor fiscal y contable</p>
              </ul>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="team_item">
            <img src="img/team/team-3.jpg" alt="">
            <div class="hover_text">
              <h4>Annabel Dominguis</h4>
              <ul class="list">
                <p>Graduada laboral</p>
              </ul>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="team_item">
            <img src="img/team/team-4.jpg" alt="">
            <div class="hover_text">
              <h4>Axel Castillo</h4>
              <ul class="list">
                <p>Contable</p>
              </ul>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="team_item">
            <img src="img/team/team-5.jpg" alt="">
            <div class="hover_text">
              <h4>Raquel Muñoz</h4>
              <ul class="list">
                <p>Seguros, auxiliar administrativo</p>
              </ul>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="team_item">
            <img src="img/team/team-6.jpg" alt="">
            <div class="hover_text">
              <h4>Carmen</h4>
              <ul class="list">
                <p>Administrativa, no residentes</p>
              </ul>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="team_item">
            <img src="img/team/team-7.jpg" alt="">
            <div class="hover_text">
              <h4>Xesca</h4>
              <ul class="list">
                <p>Recepcionista, auxiliar administrativa</p>
              </ul>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="team_item">
            <img src="img/team/team-8.jpg" alt="">
            <div class="hover_text">
              <h4>Antonio</h4>
              <ul class="list">
                <p>Seguros</p>
              </ul>
            </div>
          </div>
        </div>
      </div>





  </div>
</section>



<link rel="stylesheet" href="css/team.css">
